body {
    font-family: Arial;
    background: #f4f6f9;
    padding: 30px;
}

h1 { color: #2c3e50; }

form {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

button {
    background: #3498db;
    color: white;
    padding: 10px;
    border: none;
}

table {
    margin-top: 20px;
    width: 100%;
    background: white;
}

th {
    background: #3498db;
    color: white;
}
/* HEADER ALIGNMENT FIX */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-box {
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.badge {
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
}

.logout {
    color: white;
    text-decoration: none;
    font-size: 16px;
}